<a href="https://colab.research.google.com/github/25021703-TranThuyDuong/Bai-tap-tu-duy-tinh-toan/blob/master/Baitaptuan6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Bai 1
n = list(map(int,input().split()))
x = []
for i in n:
  if i not in x:
    x.append(i)
print(x)

1 2 2 1 4
[1, 2, 4]

In [ ]:
#Bai 2
n = list(map(int,input().split()))
x = []
tong = 0
for i in n:
  tong+=i
  x.append(tong)
print(x)

1 2 3 4
[1, 3, 6, 10]

In [ ]:
#Bai 3
n = list(map(int,input().split()))
k = int(input())
lst = []
for i in range(k,len(n)):
  lst.append(n[i])
for i in range(0,k):
  lst.append(n[i])
print(tuple(lst))

1 2 3 4 5
2
(3, 4, 5, 1, 2)

In [ ]:
#Bai 4
kv = list(input().split())

tudien = {}
for i in kv:
  x,y = i.split(":")
  if x in tudien:
    tudien[x].append(y)
  else:
    tudien[x] = [y]

print(tudien)

a:1 b:2 a:3
{'a': ['1', '3'], 'b': ['2']}

In [ ]:
#Bai 5
n = list(map(int,input().split()))
dic = {}
c1 = 0
c2 = 0
c3 = 0
for i in n:
  if i> 0: c1+=1
  elif i < 0: c2+=1
  else: c3+=1
dic["positives"] = c1
dic["negatives"] = c2
dic["zeros"] = c3
print(dic)

1 -2 0 3 -4 0 0
{'positives': 2, 'negatives': 2, 'zeros': 3}

In [ ]:
#Bai 6
lst = list(map(int,input().split()))
sum  = 0
for i in lst:
  sum+=i
print(sum)

1 2 3 4
10

In [ ]:
#Bai 7
lst = list(map(int,input().split()))
print(lst[0])
print(lst[-1])
tup = []
for i in range(len(lst),0,-1):
  tup.append(str(lst[i-1]))
print(tuple(tup))

5 8 2 7 1 4
5
4
('4', '1', '7', '2', '8', '5')

In [ ]:
#Bai 8
s = list(input().split())
dic = {}
for i in s:
  if i not in dic: dic[i] = 1
  else: dic[i]+=1
print(dic)

apple banana apple
{'apple': 2, 'banana': 1}

In [ ]:
#Bai 9
a= (input().strip("{}")).split(", ")
b= (input().strip("{}")).split(", ")
dic = {}
for i in a:
  x,y = i.split(": ")
  x = x.strip("'")
  if x not in dic: dic[x] = int(y)
for j in b:
  z,t = j.split(": ")
  z = z.strip("'")
  if z in dic: dic[z] += int(t)
  else: dic[z] = int(t)
print(dic)

{'a': 1, 'b': 2}
{'c': 3, 'b': 4}
{'a': 1, 'b': 6, 'c': 3}

In [ ]:
#Bai 10
lst = list(map(int,input().split()))
k = int(input())
finlst = []
for i in range(len(lst)):
  for j in range(i+1, len(lst)):
    if lst[i] + lst[j] == k:
      if tuple((lst[i],lst[j])) not in finlst:
        finlst.append(tuple((lst[i],lst[j])))
print(finlst)

1 2 3 4
10
[]

In [ ]:
#Bai 11
lst = list(map(int,input().split()))
odd = []
even = []
for i in lst:
  if i % 2 == 0:
    even.append(i)
  else: odd.append(i)
print(tuple(even))
print(tuple(odd))

1 10 2 9 3 8 4 7 5 6
(10, 2, 8, 4, 6)
(1, 9, 3, 7, 5)

In [10]:
#Bai 12
lst = list(map(int,input().split()))
maxlst=[]
rev1 = 0
for i in lst:
  if lst.count(i) > rev1:
    rev1 = lst.count(i)
    maxlst.clear()
    maxlst.append(i)
  elif lst.count(i) == rev1:
    maxlst.append(i)
print(min(maxlst))

5 5 5 1 1 1 8 9
1

In [15]:
#Bai 13
lst = list(input().split())
dic = {}
for i in range(1,len(lst),2):
  for j in range(0,len(lst),2):
    if i -1  == j:
      dic[lst[i]] = lst[j]
print(dic)

code A-1 user B_2
{'A-1': 'code', 'B_2': 'user'}

In [20]:
#Bai 14
lst1 = list(map(int,input().split()))
lst2 = list(map(int,input().split()))
finlst = []
for i in lst1:
  if i in lst2: finlst.append(i)
print(list(set(finlst)))

-1 -2 0 5 8
0 9 -1 10 -1
[0, -1]